<span *ngIf='ls.data.islogged==false' (click)='showlogin()'>
  Login
</span>
<span *ngIf='ls.data.islogged' (click)='showlogin()'>
    My Profile
</span>
  

<div id="logindiv" style="display: none;z-index:3;position:fixed; top:10px; bottom:10px; left:10px;right:10px; opacity:0.9; background-color: rgb(247, 178, 35">  
      <button 
        style="position: absolute; right:5px; top:5px;color: white; background-color: rgb(247, 178, 35); border: rgb(247, 178, 35); "
        (click)="hidelogin()"
        >x</button>
        <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">
            <div *ngIf='ls.data.islogged!=true'>
                <p>
                    <label>Username :</label>
                    <input type="text"  id="loginformuser">
                  </p>
                  <p>
                      <label>Password :</label>
                      <input type="password"  id="loginformpass">
                    </p>
                  <p>
                    <button type="button" (click)='login()' style="
                    border: 0;
                    background: lawngreen;
                    border-radius: 50px;
                    width: 100%;" >Login</button>
                    
                  </p>
            </div>
        </div>
        <div *ngIf='ls.data.islogged==true' style="padding:5px;">
            <h1 style="position: absolute; top:10px; left:10px;">My Profile</h1>
            <br>
            <br>
            <br>
            <p><small>Welcome user(get profile info and show here, not important)</small></p>
            <br>  
            <button>Google Login</button>
            <br>
            <button>My Blogs -></button>
            <br><br>
            <div>Quick links</div>
            <ul>
              <li>Most viewd blogs</li>
              <li>Recent Blog</li>
              <li> Create Blog</li>
            </ul>
            <button (click)='logout()'
              style="
                 border: 0;
                  background: red;
                  border-radius: 50px;
                  position: absolute;
                  bottom: 10px;
                  right: 10px;
                "
              >logout</button>
          </div>
        
</div>
