<span *ngIf='ls.data.islogged==false' (click)='showlogin()'>
  Login
</span>
<span *ngIf='ls.data.islogged' (click)='showlogin()'>
    My Profile
</span>
  

<div id="logindiv" class="logindiv">  
      <button class="btn btn-danger cross" (click)="hidelogin()">X</button>
        <div class="inner">
          <h3 class="text-center">Sign In</h3>
            <div *ngIf='ls.data.islogged!=true'>
                <p>
                    <!-- <label>Username :</label> -->
                    <input class="form-control" type="text" placeholder="Username"  id="loginformuser">
                  </p>
                  <p>
                      <!-- <label>Password :</label> -->
                      <input class="form-control" type="password" placeholder="Password"  id="loginformpass">
                    </p>
                  <p>
                    <button type="button" (click)='login()' class="btn btn-primary" >Login</button>
                    
                  </p>
                  <p style="color:#000;">Still not registered ?</p>
                  <button style=" background:#db3236; border-radius:0px; width:100%; color:#fff; margin-bottom:3px;"class="btn btn-default">Sign Up with Google <br><i class="icon-google-plus"></i> </button> 
                  
                  <button style=" background: #3b5998; border-radius:0px; width:100%; color:#fff"class="btn btn-default">Sign Up with Facebook <br><span class="icon-facebook"></span> </button>
            </div>
        </div>
        <div *ngIf='ls.data.islogged==true' style="padding:5px;">
            <h1 style="position: absolute; top:10px; left:10px;">My Profile</h1>
            <br>
            <br>
            <br>
            <p><small>Welcome user(get profile info and show here, not important)</small></p>
            <br>  
            <button>Google Login</button>
            <br>
            <button>My Blogs -></button>
            <br><br>
            <div>Quick links</div>
            <ul>
              <li>Most viewd blogs</li>
              <li>Recent Blog</li>
              <li> Create Blog</li>
            </ul>
            <button (click)='logout()'
              style="
                 border: 0;
                  background: red;
                  border-radius: 50px;
                  position: absolute;
                  bottom: 10px;
                  right: 10px;
                  padding: 0 15px 0 15px;
                "
              >logout</button>
              
          </div>
        
</div>
