label{
    color:white;
    padding:5px;
}
input{
    border-width:0;
    border-bottom-width: 1px;
    border-bottom-color: white;
    padding: 0px 15px 0px 15px;
    color: white;
    background-color: transparent;
    border-radius: 50px;
}