<div class="row ">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Blog</h5>
        <div class="card-body">

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Name :</span>
            </div>
            <input class="form-control" type="text">
            <div class="input-group-append">
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Select category</span>
            </div>
            <p class="form-control" id="blc-v" (click)='show_blog_categories();'></p>
          </div>
          <div class="card" id="blc-card" style="display:none;">
            <ul class="list-group">
              <app-blogcategory [childBlogCategories]="blogCategories" [parent_element]='this'></app-blogcategory>
            </ul>
          </div>

          <div class="form-group">
            <label for="my-input">Type</label>
            <select id="my-input" class="form-control">
              <option value="1">Interview</option>
              <option value="2">Course</option>
            </select>
          </div>

          <button class="btn btn-secondary">Create Blog</button>

        </div>

      </div>
    </div>
  </div>
</div>