<div class="sidebar">
        <a style="background:#fc4b6c;color:white;" ><i class="fas fa-user"></i> Hi</a>
    <ng-container  *ngFor="let nav of nav_list" >
            <a 
                href="javascript:void(0)"
                [ngClass]="{'active':nav_selected==nav[0]}"
                (click)="updatenav(nav);"
                >

                    <i class="fas fa-{{ nav[1] }}"></i> 
                    {{ nav[0] }}
            </a>
    </ng-container>
    </div>
<div class="content">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Welcome to Dashboard</h3>
        </div>
        <div class="col-md-7 col-4 align-self-center">
            <a style="border-radius:4px;background:#fc4b6c;color:white;float:right;" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down" href="/home"><i class="fa fa-reply" aria-hidden="true"></i> Return To Website</a>
        </div>
    </div>
    <ng-container  *ngIf="nav_selected=='Home'">
            <app-create ></app-create>
    </ng-container>
    <ng-container  *ngIf="nav_selected=='Interviews'">
           <app-interv></app-interv>
</ng-container>
<ng-container  *ngIf="nav_selected=='Courses'">
     <app-cour></app-cour>
</ng-container>
</div>