<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><i class="flaticon-university"></i>MangoPy <br><small>University</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="course.html" class="nav-link">Courses</a></li>
          <li class="nav-item"><a href="teacher.html" class="nav-link">Teacher</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="event.html" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
          <li class="nav-item cta"><a class="nav-link" onclick="logindiv" (click)="showlogin()"><span>Login</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
<div id="logindiv" style="display: none;z-index:3;position:fixed; top:10px; bottom:10px; left:10px;right:10px; opacity:0.9; background-color: black;">  
  <button 
    style="position: absolute; right:5px; top:5px;color: white; background-color: black; border: black; "
    (click)="hidelogin()"
    >x</button>
  <app-login></app-login>
</div>
  