<li *ngFor="let blgc of clevelblogs" class="list-group-item">
    <button (click)="toggle_child(blgc);">-</button>
    <span>
        {{BCS.BlogCategories[blgc].name}}
    </span>
    <input type="radio" name="shit" id="">
    <ul class="list-group inner" id="{{blgc}}" style="display: none;">
        <app-blogcategory [childBlogCategories]="blgc"></app-blogcategory>
    </ul>
</li>
<li class="list-group-item">
    <button class="btn btn-success"><i style="font-size:15px;" class="fas fa-plus"></i></button>
</li>
