<div>
    <div *ngFor="let comment of comments">
        {{ comment.body }}
        <button class="btn btn-primart">Reply</button>
        <div>
                <app-account [show]="'dashboard'"></app-account>
                <div *ngIf="AC.islogged">
                    <div class="input-group">
                        <input class="form-control" type="text" #content>
                        <div class="input-group-append">
                            <span class="input-group-text btn btn-primary" (click)="
                                comment(
                                    AC.user.getAuthResponse().id_token,
                                    blog.url,
                                    '',
                                    content.value
                                )
                            ">Comment</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>
<button class="btn btn-primary" (click)='showcomment()'>Add comment</button>
<div class="commentdiv" id="comment123">
<div class="card" style="position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);padding:20px;">
  <div class="card-body">
    <h5 class="card-title text-center">Add comment</h5>
    <div>
    <input type="text" class="form-control" name="" id=""><br>
    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-danger" (click)="hidecomment()">Close</button>
    </div>
  </div>
</div>
</div>