<ng-container *ngIf="show=='icon'">
   <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="padding:0;" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i *ngIf="!LS.islogged" class='fas fa-user'></i>
      <img *ngIf="LS.islogged" class="account-image-small" src="{{LS.data.user.info.picture}}">
    </a>
    <div class="dropdown-menu dropdown-menu-right primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="javascript:void(0)" (click)="AC.login()" >
        <ng-container *ngIf="LS.islogged">
          Change user
        </ng-container>
        <ng-container *ngIf="!LS.islogged">
          Login with google
        </ng-container></a>
        <a class="dropdown-item" href="/dashboard">
          <ng-container *ngIf="LS.islogged">
            Dashboard
          </ng-container>
        </a>
      <div class="dropdown-divider" *ngIf="LS.islogged"></div>
      <a class="dropdown-item" (click)="AC.logout()" href="javascript:void(0)">Logout</a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="show=='dashboard'">
  <div (click)="LS.islogged?AC.logout():AC.login()">
      <button style="border-radius:0px;" *ngIf="!AC.islogged" class="material-icons btn btn-danger">Login with <i class="icon-google-plus"></i></button>
      <img *ngIf="LS.islogged" class="account-image-small" src="{{LS.data.user.info.picture}}">
  </div>
 </ng-container>
<!--ng-container>
  <!-- Nothing so show splash screen 
  <button *ngIf="!LS.islogged" (click)="AC.login()">Login with google</button>
</ng-container-->