<ng-container>
  <ng-container>
    <button class="btn btn-primary" type="button" *ngIf="!editable" (click)="edit()"><i class="fas fa-edit"></i> Edit</button>
    <button class="btn btn-primary" type="button" *ngIf="editable" (click)="update()"><i class="fas fa-save"></i>Update Editor with previos value</button>
    <button class="btn btn-primary" type="button" *ngIf="editable" (click)="get()"><i class="fas fa-save"></i>Get value from editor</button>
    <button class="btn btn-primary" type="button" *ngIf="editable" (click)="close()"><i class="fas fa-save"></i>Close editor</button>
    <button class="btn btn-primary" type="button" *ngIf="editable" (click)="save()"><i class="fas fa-save"></i> Save</button>
  </ng-container>
  <div id="blog-container">
    <!-- Blog goes here -->
  </div>
</ng-container>
<ng-container *ngIf="editable">
  <iframe id="editor" src="/assets/keditor/basic_with_blank_content.html"></iframe>
</ng-container>