<div *ngIf="this.refreshed==true">
  <div *ngIf="do.show=='preview'">
    Name of the blog: <h1>{{ blog.name}}</h1>
    Image preview link : {{ blog.body.preview.image }} <br>
    Description of blog: {{ blog.body.preview.description }} <br>
  </div>
  <div *ngIf="do.show=='complete'">
      Name of the blog: <h1>{{ blog.name}}</h1>
      Image preview link : {{ blog.body.preview.image }} <br>
      Description of blog: {{ blog.body.preview.description }} <br>
      Readable blog by all : {{ blog.body.public }} <br>
      Readable by private : {{ blog.body.private }} <br>
    </div>
    <div *ngIf="do.show=='edit'">
        Name of the blog: <h1>{{ blog.name}}</h1>
        Image preview link : {{ blog.body.preview.image }} <br>
        Description of blog: {{ blog.body.preview.description }} <br>
        Readable blog by all : {{ blog.body.public }} <br>
        Readable by private : {{ blog.body.private }} <br>
    </div>
</div>
<div *ngIf="do.show=='create'">
    <app-create></app-create>
</div>    

