<div *ngFor="let blog of blog_list">
  <!-- Finally show child blog previews -->
  blog_preview here for the blog with details
  {{this.BLS.allBlogs[blog].name}}
  {{this.BLS.allBlogs[blog].body}}

</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="group_list.length!=0">
        <ng-container *ngFor="let gl of group_list">
          <ng-container *ngIf="this.BCS.BlogCategories[gl].body.disc!=''">
            <div class="col-md-4 d-flex">
              <div class="course align-self-stretch">
                <img src="{{this.BCS.BlogCategories[gl].body.image}}" class="img">
                <div class="text p-4">
                  <p class="category"><span>{{this.BCS.BlogCategories[gl].name}}</span> <span class="price"> </span></p>
                  <h3 class="mb-3"><a href="/courses/politics">{{this.BCS.BlogCategories[gl].body.title}}</a></h3>
                  <p>{{this.BCS.BlogCategories[gl].body.disc}}</p>
                  <p><a href="javascript:void(0)" (click)="changeto(gl)" class="btn btn-primary">View now!</a></p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="this.BCS.BlogCategories[gl].body.disc==''">
            <h1>{{this.BCS.BlogCategories[gl].name}}</h1><br>
            <app-previewdisplayer [parent_bc]="gl"></app-previewdisplayer>
          </ng-container>

          
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>