<div class="col-md-12 d-flex ftco-animate">
  <!-- Finally show child blog previews 
  {{this.BLS.allBlogs[blog].name}}
  {{this.BLS.allBlogs[blog].body}}
  <div class="col-md-4 d-flex ftco-animate">-->
      <div *ngFor="let blog of blog_list" class="blog-entry align-self-stretch col-md-4">
        <img class="block-20" src="{{this.BLS.allBlogs[blog].body.media_url}}">
        <div class="text p-4 d-block">
          <div class="meta mb-3">
            <div><a  [attr.contenteditable]="editable" #date>{{this.BLS.allBlogs[blog].body.date}}</a></div>
            <div><a [attr.contenteditable]="editable" #uname>{{this.BLS.allBlogs[blog].body.username}}</a></div>
            <div><a class="meta-chat" [attr.contenteditable]="editable" #med_url>{{this.BLS.allBlogs[blog].body.media_url}}</a></div>
          </div>
          <h3 class="heading mt-3"><a [attr.contenteditable]="editable" #name>{{this.BLS.allBlogs[blog].name}}</a></h3>
          <p [attr.contenteditable]="editable" #disc>{{this.BLS.allBlogs[blog].body.disc}}</p>
        </div>
        <button *ngIf="!editable && this.LS.data.islogged" (click)="editable=!editable" class="btn btn-danger">Edit</button>
        <button *ngIf="editable" class="btn btn-success" (click)="update_blog(
          this.BLS.allBlogs[blog].url,
          name.innerText,
          date.innerText,
          uname.innerText,
          med_url.innerText,
          disc.innerText
        )">Save</button>
      </div>
</div>

<ng-container *ngIf="group_list.length!=0">
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
        <ng-container *ngFor="let gl of group_list">
          <ng-container *ngIf="this.BCS.BlogCategories[gl].body.disc!=''">
            <div class="col-md-4 d-flex">
              <div class="course align-self-stretch">
                <img src="{{this.BCS.BlogCategories[gl].body.image}}" style="max-width:100%;" class="img">
                <div class="text p-4">
                  <p class="category"><span>{{this.BCS.BlogCategories[gl].name}}</span> <span class="price"> </span></p>
                  <h3 class="mb-3"><a href="/courses/politics">{{this.BCS.BlogCategories[gl].body.title}}</a></h3>
                  <p>{{this.BCS.BlogCategories[gl].body.disc}}</p>
                  <p><a href="javascript:void(0)" (click)="changeto(gl)" class="btn btn-primary">View now!</a></p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="this.BCS.BlogCategories[gl].body.disc==''">
                      <div class="col-md-12 heading-section ftco-animate text-center">
                        <h2 class="mb-4">{{this.BCS.BlogCategories[gl].name}}</h2>
                        <app-previewdisplayer [parent_bc]="gl"></app-previewdisplayer>
                      </div>                   
          </ng-container>         
        </ng-container>
    </div>
  </div>
</section>
</ng-container>