<div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/bg_2.jpg'); background-attachment:fixed;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-8 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span class="mr-2"><a></a></span> <span>Interview/Courses</span></p>
        <h1 class="mb-3 bread">Interview/Courses</h1>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 d-flex ftco-animate">
  <!-- Finally show child blog previews 
  {{this.BLS.allBlogs[blog].name}}
  {{this.BLS.allBlogs[blog].body}}
  <div class="col-md-4 d-flex ftco-animate">-->
      <div *ngFor="let blog of blog_list" class="blog-entry align-self-stretch col-md-4">
        <a href="blog-single.html" class="block-20" style="background-image: url('assets/images/image_1.jpg');">
        </a>
        <div class="text p-4 d-block">
          <div class="meta mb-3">
            <div><a href="#">August 12, 2018</a></div>
            <div><a href="#">Admin</a></div>
            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
          </div>
          <h3 class="heading mt-3"><a href="#">How to standout at start of your UX Career</a></h3>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
      </div>
</div>

<ng-container *ngIf="group_list.length!=0">
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
        <ng-container *ngFor="let gl of group_list">
          <ng-container *ngIf="this.BCS.BlogCategories[gl].body.disc!=''">
            <div class="col-md-4 d-flex">
              <div class="course align-self-stretch">
                <img src="{{this.BCS.BlogCategories[gl].body.image}}" style="max-width:100%;" class="img">
                <div class="text p-4">
                  <p class="category"><span>{{this.BCS.BlogCategories[gl].name}}</span> <span class="price"> </span></p>
                  <h3 class="mb-3"><a href="/courses/politics">{{this.BCS.BlogCategories[gl].body.title}}</a></h3>
                  <p>{{this.BCS.BlogCategories[gl].body.disc}}</p>
                  <p><a href="javascript:void(0)" (click)="changeto(gl)" class="btn btn-primary">View now!</a></p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="this.BCS.BlogCategories[gl].body.disc==''">
                      <div class="col-md-12 heading-section ftco-animate text-center">
                        <h2 class="mb-4">{{this.BCS.BlogCategories[gl].name}}</h2>
                        <app-previewdisplayer [parent_bc]="gl"></app-previewdisplayer>
                      </div>                   
          </ng-container>         
        </ng-container>
    </div>
  </div>
</section>
</ng-container>